In [80]:
#On importe les package nécessaire à l'exercice.
import pandas as pd
import sqlite3
import tqdm
import random

#1. Read all the data
df = pd.read_csv("/Users/polo11/Downloads/bc.csv")
df

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

In [86]:
print("nombre de ligne :", (df.shape[0]))
print("nombre de colonne :", (df.shape[1]))

nombre de ligne : 569
nombre de colonne : 33

In [87]:
# 2: Insert the bc.csv in the sqlite format.
import sqlite3

conn = sqlite3.connect('/Users/polo11/Downloads/bc.db')
c = conn.cursor()

In [88]:
#3. In the same db create a new table called tomatch with two variables id_ and rdm_float.
#On crée la table tomatch
def create_table():
    try:
        c.execute("""CREATE TABLE IF NOT EXISTS tomatch(id_ INT PRIMARY KEY, "rdm_float" FLOAT)""")
        conn.commit()
    except Exception as e:
        print(str(e))
        
create_table()

In [89]:
# 4: In the table tomatch insert observations where the id_ starts from 50k, ends at 10000000 and is only even numbers. rdm_float is a random float for each observation.
query = """INSERT INTO tomatch(id_,rdm_float) VALUES (?,?)"""
list_of_insertion = []
for i in tqdm.tqdm(range(50000,10000001,2)):
    values = (i, random.uniform(0,1))
    list_of_insertion.append(values)
    if len(list_of_insertion) == 10000:
        c.executemany(query, list_of_insertion)
        conn.commit()
        list_of_insertion = []

  0%|          | 9999/4975001 [00:00<00:04, 1071481.20it/s]

IntegrityError: UNIQUE constraint failed: tomatch.id_

In [90]:
# 5: Do an Inner join between the two tables and compute the different aggregate functions on a column of your choice.

c.execute("""SELECT avg(rdm_float), count(rdm_float), max(rdm_float), min(rdm_float), sum(rdm_float) FROM tomatch
             INNER JOIN bc ON tomatch.id_=bc.id""")

docs = c.fetchall()
print(docs)

[(7.826773603667237e+16, 243, 9.208189619803999e+18, -9.164256280137096e+18, 1.9019059856911385e+19)]

In [91]:
# 6: How many observations have a radius_mean greater than 15 ? From them how many have a texture_mean greater than 20 ?

c.execute("SELECT COUNT(*) FROM bc WHERE radius_mean > 15")

count_radius_mean_gt_15 = c.fetchone()[0]

print("Radius moyen > 15 :", count_radius_mean_gt_15)

c.execute("SELECT COUNT(*) FROM bc WHERE radius_mean > 15 AND texture_mean > 20")

count_both_gt_15_20 = c.fetchone()[0]

print("Radius moyen > 15 et texture moyenne > 20 :", count_both_gt_15_20)

Radius moyen > 15 : 173
Radius moyen > 15 et texture moyenne > 20 : 106

In [92]:
# 7: For each category in diagnosis do the mean of a variable and round it to get only 2 numbers after the comma. Compute the difference between the mean of both groups
# Exécuter une requête SQL pour calculer la moyenne de la variable souhaitée pour chaque catégorie de diagnostic
c.execute("""
          SELECT
              diagnosis,
              ROUND(AVG(radius_mean), 2) AS avg_radius_mean,  -- Moyenne arrondie de radius_mean avec 2 chiffres après la virgule
              ROUND(AVG(texture_mean), 2) AS avg_texture_mean   -- Moyenne arrondie de texture_mean avec 2 chiffres après la virgule
          FROM
              bc
          GROUP BY
              diagnosis
          """)

# Récupérer les résultats de la requête
results = c.fetchall()

# Afficher les résultats
for row in results:
    print("Diagnostic:", row[0])
    print("moyenne radius_mean:", row[1])
    print("moyenne texture_mean:", row[2])
    print()

# Calculer la différence entre les moyennes des deux groupes
diff_avg_radius_mean = results[0][1] - results[1][1]
diff_avg_texture_mean = results[0][2] - results[1][2]

print("Différence de radius_mean moyen entre les 2 groupes:", diff_avg_radius_mean)
print("Différence de texture_mean moyenne entre les 2 groupes:", diff_avg_texture_mean)

Diagnostic: B
moyenne radius_mean: 12.15
moyenne texture_mean: 17.91

Diagnostic: M
moyenne radius_mean: 17.46
moyenne texture_mean: 21.6

Différence de radius_mean moyen entre les 2 groupes: -5.3100000000000005
Différence de texture_mean moyenne entre les 2 groupes: -3.6900000000000013

In [93]:
# 8. Change the name of the column "diagnosis" to "label"
c.execute("ALTER TABLE bc RENAME COLUMN diagnosis TO label")

conn.commit()

In [94]:
# 9. Add a column named "day" of type DATE.
c.execute("ALTER TABLE bc ADD COLUMN day DATE")

conn.commit()

In [95]:
# 10. Change the type of the column "area_mean" to int (hint, not possible on sqlite, create a new column)
c.execute("ALTER TABLE bc ADD COLUMN area_mean_int INTEGER")
conn.commit()
c.execute("UPDATE bc SET area_mean_int = CAST(area_mean AS INTEGER)")
conn.commit()

OperationalError: duplicate column name: area_mean_int

In [96]:
# Histoire de s'assurer que tout cela a bien fonctionné :
c.execute("PRAGMA table_info(bc)")

columns_info = c.fetchall()

for column_info in columns_info:
    print(column_info)

(0, 'id', 'INTEGER', 0, None, 0)
(1, 'label', 'TEXT', 0, None, 0)
(2, 'radius_mean', 'REAL', 0, None, 0)
(3, 'texture_mean', 'REAL', 0, None, 0)
(4, 'perimeter_mean', 'REAL', 0, None, 0)
(5, 'area_mean', 'REAL', 0, None, 0)
(6, 'smoothness_mean', 'REAL', 0, None, 0)
(7, 'compactness_mean', 'REAL', 0, None, 0)
(8, 'concavity_mean', 'REAL', 0, None, 0)
(9, 'concave points_mean', 'REAL', 0, None, 0)
(10, 'symmetry_mean', 'REAL', 0, None, 0)
(11, 'fractal_dimension_mean', 'REAL', 0, None, 0)
(12, 'radius_se', 'REAL', 0, None, 0)
(13, 'texture_se', 'REAL', 0, None, 0)
(14, 'perimeter_se', 'REAL', 0, None, 0)
(15, 'area_se', 'REAL', 0, None, 0)
(16, 'smoothness_se', 'REAL', 0, None, 0)
(17, 'compactness_se', 'REAL', 0, None, 0)
(18, 'concavity_se', 'REAL', 0, None, 0)
(19, 'concave points_se', 'REAL', 0, None, 0)
(20, 'symmetry_se', 'REAL', 0, None, 0)
(21, 'fractal_dimension_se', 'REAL', 0, None, 0)
(22, 'radius_worst', 'REAL', 0, None, 0)
(23, 'texture_worst', 'REAL', 0, None, 0)
(24, 'perimeter_worst', 'REAL', 0, None, 0)
(25, 'area_worst', 'REAL', 0, None, 0)
(26, 'smoothness_worst', 'REAL', 0, None, 0)
(27, 'compactness_worst', 'REAL', 0, None, 0)
(28, 'concavity_worst', 'REAL', 0, None, 0)
(29, 'concave points_worst', 'REAL', 0, None, 0)
(30, 'symmetry_worst', 'REAL', 0, None, 0)
(31, 'fractal_dimension_worst', 'REAL', 0, None, 0)
(32, 'Unnamed: 32', 'REAL', 0, None, 0)
(33, 'area_mean_int', 'INTEGER', 0, None, 0)
(34, 'day', 'DATE', 0, None, 0)

In [97]:
#11. Create a new table called tomatch2 exactly the same way as tomatch except you increment id_ by 10.
c.execute("""CREATE TABLE IF NOT EXISTS tomatch2(id_ INT PRIMARY KEY, "rdm_float" FLOAT)""")
conn.commit()

query = """INSERT INTO tomatch2(id_,rdm_float) VALUES (?,random())"""

list_of_insertion = []
for i in tqdm.tqdm(range(50000,10000000,10)):
    values = (i,)
    list_of_insertion.append(values)
    if len(list_of_insertion) == 10000:
        c.executemany(query, list_of_insertion)
        conn.commit()
        list_of_insertion = []

100%|██████████| 995000/995000 [00:01<00:00, 825431.57it/s]

In [98]:
# 12: Do an inner join of bc, tomatch and tomatch2 where the radius_mean is greater than 15, and the rdm_float is greater than 0.50 in tomatch AND tomatch2.
# Exécuter une requête SQL pour effectuer une jointure interne des tables "bc", "tomatch" et "tomatch2" avec les conditions spécifiées
c.execute("""
          SELECT *
          FROM bc
          INNER JOIN tomatch ON bc.id = tomatch.id_
          INNER JOIN tomatch2 ON bc.id = tomatch2.id_
          WHERE bc.radius_mean > 15
          AND tomatch.rdm_float > 0.50
          AND tomatch2.rdm_float > 0.50
          """)

# Récupérer les résultats de la requête
results = c.fetchall()

# Afficher les résultats
for row in results:
    print(row)

(89812, 'M', 23.51, 24.27, 155.1, 1747.0, 0.1069, 0.1283, 0.2308, 0.141, 0.1797, 0.05506, 1.009, 0.9245, 6.462, 164.1, 0.006292, 0.01971, 0.03582, 0.01301, 0.01479, 0.003118, 30.67, 30.73, 202.4, 2906.0, 0.1515, 0.2678, 0.4819, 0.2089, 0.2593, 0.07738, None, 1747, None, 89812, 4.672834584858535e+18, 89812, 1.877013772783616e+18)
(849014, 'M', 19.81, 22.15, 130.0, 1260.0, 0.09831, 0.1027, 0.1479, 0.09498, 0.1582, 0.05395, 0.7582, 1.017, 5.865, 112.4, 0.006494, 0.01893, 0.03391, 0.01521, 0.01356, 0.001997, 27.32, 30.88, 186.8, 2398.0, 0.1512, 0.315, 0.5372, 0.2388, 0.2768, 0.07615, None, 1260, None, 849014, 8.55887145456864e+18, 849014, 2.7055482863915387e+18)
(852552, 'M', 16.65, 21.38, 110.0, 904.6, 0.1121, 0.1457, 0.1525, 0.0917, 0.1995, 0.0633, 0.8068, 0.9017, 5.455, 102.6, 0.006048, 0.01882, 0.02741, 0.0113, 0.01468, 0.002801, 26.46, 31.56, 177.0, 2215.0, 0.1805, 0.3578, 0.4695, 0.2095, 0.3613, 0.09564, None, 904, None, 852552, 1.1400017340516439e+18, 852552, 1.5400851324462612e+18)
(869104, 'M', 16.11, 18.05, 105.1, 813.0, 0.09721, 0.1137, 0.09447, 0.05943, 0.1861, 0.06248, 0.7049, 1.332, 4.533, 74.08, 0.00677, 0.01938, 0.03067, 0.01167, 0.01875, 0.003434, 19.92, 25.27, 129.0, 1233.0, 0.1314, 0.2236, 0.2802, 0.1216, 0.2792, 0.08158, None, 813, None, 869104, 8.74705280301868e+18, 869104, 4.5162932440970757e+18)
(877486, 'M', 19.18, 22.49, 127.5, 1148.0, 0.08523, 0.1428, 0.1114, 0.06772, 0.1767, 0.05529, 0.4357, 1.073, 3.833, 54.22, 0.005524, 0.03698, 0.02706, 0.01221, 0.01415, 0.003397, 23.36, 32.06, 166.4, 1688.0, 0.1322, 0.5601, 0.3865, 0.1708, 0.3193, 0.09221, None, 1148, None, 877486, 8.979459624481054e+18, 877486, 6.431701822161365e+18)
(881972, 'M', 17.05, 19.08, 113.4, 895.0, 0.1141, 0.1572, 0.191, 0.109, 0.2131, 0.06325, 0.2959, 0.679, 2.153, 31.98, 0.005532, 0.02008, 0.03055, 0.01384, 0.01177, 0.002336, 19.59, 24.89, 133.5, 1189.0, 0.1703, 0.3934, 0.5018, 0.2543, 0.3109, 0.09061, None, 895, None, 881972, 5.418902947093336e+18, 881972, 5.332748405906906e+18)
(888264, 'M', 17.35, 23.06, 111.0, 933.1, 0.08662, 0.0629, 0.02891, 0.02837, 0.1564, 0.05307, 0.4007, 1.317, 2.577, 44.41, 0.005726, 0.01106, 0.01246, 0.007671, 0.01411, 0.001578, 19.85, 31.47, 128.2, 1218.0, 0.124, 0.1486, 0.1211, 0.08235, 0.2452, 0.06515, None, 933, None, 888264, 8.961356708658886e+18, 888264, 4.176570818972501e+18)
(894618, 'M', 20.16, 19.66, 131.1, 1274.0, 0.0802, 0.08564, 0.1155, 0.07726, 0.1928, 0.05096, 0.5925, 0.6863, 3.868, 74.85, 0.004536, 0.01376, 0.02645, 0.01247, 0.02193, 0.001589, 23.06, 23.03, 150.2, 1657.0, 0.1054, 0.1537, 0.2606, 0.1425, 0.3055, 0.05933, None, 1274, None, 894618, 3.0407340093886996e+18, 894618, 4.052425688861094e+18)
(901288, 'M', 20.64, 17.35, 134.8, 1335.0, 0.09446, 0.1076, 0.1527, 0.08941, 0.1571, 0.05478, 0.6137, 0.6575, 4.119, 77.02, 0.006211, 0.01895, 0.02681, 0.01232, 0.01276, 0.001711, 25.37, 23.17, 166.8, 1946.0, 0.1562, 0.3055, 0.4159, 0.2112, 0.2689, 0.07055, None, 1335, None, 901288, 3.305238659845688e+18, 901288, 2.2664970541160044e+18)
(912600, 'B', 15.73, 11.28, 102.8, 747.2, 0.1043, 0.1299, 0.1191, 0.06211, 0.1784, 0.06259, 0.163, 0.3871, 1.143, 13.87, 0.006034, 0.0182, 0.03336, 0.01067, 0.01175, 0.002256, 17.01, 14.2, 112.5, 854.3, 0.1541, 0.2979, 0.4004, 0.1452, 0.2557, 0.08181, None, 747, None, 912600, 3.7868972321496685e+17, 912600, 7.952932233665171e+16)
(926682, 'M', 20.13, 28.25, 131.2, 1261.0, 0.0978, 0.1034, 0.144, 0.09791, 0.1752, 0.05533, 0.7655, 2.463, 5.203, 99.04, 0.005769, 0.02423, 0.0395, 0.01678, 0.01898, 0.002498, 23.69, 38.25, 155.0, 1731.0, 0.1166, 0.1922, 0.3215, 0.1628, 0.2572, 0.06637, None, 1261, None, 926682, 2.0642251784822208e+18, 926682, 5.490114603731555e+18)
(8610404, 'M', 16.07, 19.65, 104.1, 817.7, 0.09168, 0.08424, 0.09769, 0.06638, 0.1798, 0.05391, 0.7474, 1.016, 5.029, 79.25, 0.01082, 0.02203, 0.035, 0.01809, 0.0155, 0.001948, 19.77, 24.56, 128.8, 1223.0, 0.15, 0.2045, 0.2829, 0.152, 0.265, 0.06387, None, 817, None, 8610404, 7.621748534584569e+18, 8610404, 1.337711157565557e+18)
(8953902, 'M', 16.27, 20.71, 106.9, 813.7, 0.1169, 0.1319, 0.1478, 0.08488, 0.1948, 0.06277, 0.4375, 1.232, 3.27, 44.41, 0.006697, 0.02083, 0.03248, 0.01392, 0.01536, 0.002789, 19.28, 30.38, 129.8, 1121.0, 0.159, 0.2947, 0.3597, 0.1583, 0.3103, 0.082, None, 813, None, 8953902, 8.904093577561556e+18, 8953902, 4.3934275017265597e+18)
(9010872, 'B', 16.5, 18.29, 106.6, 838.1, 0.09686, 0.08468, 0.05862, 0.04835, 0.1495, 0.05593, 0.3389, 1.439, 2.344, 33.58, 0.007257, 0.01805, 0.01832, 0.01033, 0.01694, 0.002001, 18.13, 25.45, 117.2, 1009.0, 0.1338, 0.1679, 0.1663, 0.09123, 0.2394, 0.06469, None, 838, None, 9010872, 3.6827033151924204e+18, 9010872, 8.087356457634609e+18)
(9110732, 'M', 17.75, 28.03, 117.3, 981.6, 0.09997, 0.1314, 0.1698, 0.08293, 0.1713, 0.05916, 0.3897, 1.077, 2.873, 43.95, 0.004714, 0.02015, 0.03697, 0.0111, 0.01237, 0.002556, 21.53, 38.54, 145.4, 1437.0, 0.1401, 0.3762, 0.6399, 0.197, 0.2972, 0.09075, None, 981, None, 9110732, 8.616589739486019e+18, 9110732, 2.6053803405975634e+18)
(895100, 'M', 20.34, 21.51, 135.9, 1264.0, 0.117, 0.1875, 0.2565, 0.1504, 0.2569, 0.0667, 0.5702, 1.023, 4.012, 69.06, 0.005485, 0.02431, 0.0319, 0.01369, 0.02768, 0.003345, 25.3, 31.86, 171.1, 1938.0, 0.1592, 0.4492, 0.5344, 0.2685, 0.5558, 0.1024, None, 1264, None, 895100, 8.11614860680047e+18, 895100, 6.735023343809242e+18)
(897630, 'M', 18.77, 21.43, 122.9, 1092.0, 0.09116, 0.1402, 0.106, 0.0609, 0.1953, 0.06083, 0.6422, 1.53, 4.369, 88.25, 0.007548, 0.03897, 0.03914, 0.01816, 0.02168, 0.004445, 24.54, 34.37, 161.1, 1873.0, 0.1498, 0.4827, 0.4634, 0.2048, 0.3679, 0.0987, None, 1092, None, 897630, 3.5081528206121446e+18, 897630, 1.9789620970001733e+18)
(857010, 'M', 18.65, 17.6, 123.7, 1076.0, 0.1099, 0.1686, 0.1974, 0.1009, 0.1907, 0.06049, 0.6289, 0.6633, 4.293, 71.56, 0.006294, 0.03994, 0.05554, 0.01695, 0.02428, 0.003535, 22.82, 21.32, 150.6, 1567.0, 0.1679, 0.509, 0.7345, 0.2378, 0.3799, 0.09185, None, 1076, None, 857010, 6.920001642786545e+18, 857010, 1.1557029603348165e+18)